In [64]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [65]:
df = pd.read_csv('energydata_complete.csv')
df = df.drop(columns = ['date', 'lights'])
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [67]:
#from sklearn.model_selection import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
x1 = df.T2.values
x1 = x1.reshape(-1,1)
y1 = df.T6.values
y1 = y1.reshape(-1,1)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x1, y1, test_size=0.3, random_state=42)

from sklearn.linear_model import  LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
linear_model.score(x_train,y_train)

0.6415148739809167

In [75]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
x = normalised_df.drop(columns=['Appliances'])
y = normalised_df.Appliances

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

from sklearn.linear_model import  LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
linear_model.score(x_train,y_train)

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mean_absolute_error(y_test, linear_model.predict(x_test))

np.sum(np.square(y_test - linear_model.predict(x_test)))

np.sqrt(mean_squared_error(y_test,linear_model.predict(x_test)))

r2_score(y_test, linear_model.predict(x_test))

0.14890246319303535

In [87]:
a = pd.DataFrame({'weights': linear_model.coef_, 'features': x_train.columns})

#a[a.weights ==a.weights.max()]
#a[a.weights ==a.weights.min()]

In [88]:
from sklearn.linear_model import Ridge
model_ridge =  Ridge(alpha=0.4)
model_ridge.fit(x_train, y_train)

np.sqrt(mean_squared_error(y_test, model_ridge.predict(x_test)))

0.08753385704628

In [107]:
from sklearn.linear_model import Lasso
model_lasso =  Lasso(alpha=0.001)
model_lasso.fit(x_train, y_train)

a= pd.DataFrame({'weights': model_lasso.coef_, 'features': x_train.columns})
a[a.weights!=0]

     weights   features
1   0.017880       RH_1
15 -0.000110       RH_8
20 -0.049557     RH_out
21  0.002912  Windspeed

In [106]:
np.sqrt(mean_squared_error(y_test, model_lasso.predict(x_test)))

0.09358170467245137